TestPods/Build/Products/Debug-iphonesimulator/TestPods.app/TestPods
TestPods/Build/Products/Debug-iphonesimulator/SDWebImage/libSDWebImage.a
TestPods/Build/Products/Debug-iphonesimulator/libPods-TestPods.a
TestPods/Build/Products/Debug-iphonesimulator/AFNetworking/libAFNetworking.a
TestPods/Build/Intermediates/TestPods.build/Debug-iphonesimulator/TestPods.build/Objects-normal/x86_64/ViewController.o
TestPods/Build/Intermediates/TestPods.build/Debug-iphonesimulator/TestPods.build/Objects-normal/x86_64/TestPods_dependency_info.dat
TestPods/Build/Intermediates/TestPods.build/Debug-iphonesimulator/TestPods.build/dgph~
TestPods/Build/Intermediates/TestPods.build/Debug-iphonesimulator/TestPods.build/dgph
TestPods/Build/Intermediates/Pods.build/Debug-iphonesimulator/SDWebImage.build/dgph~
TestPods/Build/Intermediates/Pods.build/Debug-iphonesimulator/SDWebImage.build/dgph
TestPods/Build/Intermediates/Pods.build/Debug-iphonesimulator/Pods-TestPods.build/dgph~
TestPods/Build/Intermediates/Pods.build/Debug-iphonesimulator/Pods-TestPods.build/dgph
TestPods/Build/Intermediates/Pods.build/Debug-iphonesimulator/AFNetworking.build/dgph~
TestPods/Build/Intermediates/Pods.build/Debug-iphonesimulator/AFNetworking.build/dgph
